<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpg' %>
  </div>
  <div id="content">
    <h1>Hi, I'm Chivorn Kouch</h1>
    <p>I am reviewing my skills by buildings some small projects.</p>
  </div>
</div>
